<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	
	<typeAliases>
		<typeAlias alias="mvo" type="com.vo.MemberVO"/>
	</typeAliases> 
-->
	<mappers>
		<mapper resource="mybatis-mapper/personnel.xml"/>
		<mapper resource="mybatis-mapper/payment.xml"/>
		<mapper resource="mybatis-mapper/accounting.xml"/>
		<mapper resource="mybatis-mapper/plan.xml"/>
		<mapper resource="mybatis-mapper/product.xml"/>
		<mapper resource="mybatis-mapper/scv.xml"/>
	</mappers>
</configuration>